<app-nav-bar></app-nav-bar>
<div class="background-container">
  <span class="scroll-for-more">SCROLL TO SEE MORE</span>

  <div class="home-content">
    <span>A FILM ABOUT THE ARTIST'S STRUGGLE</span>
    <div class="title">
      <h1>Feel the Flow</h1>
      <h2>is coming soon!</h2>
    </div>
    <button class="btn-learn-more">LEARN MORE</button>
  </div>
</div>

<div class="introducing">
  <span class="title">INTRODUCING</span>
  <div class="introducing-content">
    <div style="width: 30%">
      <h1>The Film</h1>
      <p class="sub-text">
        Feel The Flow is a film about manifesting dreams into reality - we
        follow the stories of handful of artists and creators chasing their
        dreams, as they navigate the depths of the underground art and tech
        scenes in Los Angeles
      </p>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum
      </p>
      <button style="margin-top: 1.5rem" class="btn-learn-more">
        LEARN MORE
      </button>
    </div>
    <img
      src="https://images.alphacoders.com/483/483687.jpg"
      height="300"
      width="500"
      alt=""
    />
  </div>
</div>

<div class="updates-section">
  <div style="margin-bottom: 1rem" class="updates-text">
    <h2>Sign me up for updates!</h2>
    <p>
      If you would like to learn more and support our vision, check out our page
      where you'll find trailers, director's commentary and tons of ways to
      support the cause. You can also join our mailing list bellow to stay
      informet !
    </p>
  </div>

  <div class="form">
    <input style="margin-right: 1rem" placeholder="Email address" type="text" />
    <button class="btn-learn-more">LEARN MORE</button>
  </div>
</div>
